#cards{
margin-top:25px;
margin-bottom:2%;
 
}



body{
background-color:#6BFFEB;
	
}
.editar-card{
background-color:#efefef;
padding:5%;
margin-top:10%;
margin-bottom:10%;
	
}
.efeito-card{
transition:transform 1s;	

	
}
.efeito-img{
transition:transform 1s;	
	
}

.efeito-img:hover{
transform:scale(1.2) rotateY(360deg);
cursor:pointer;
}