#cards{
margin-top:25px;
margin-bottom:2%;
 
}



body{
background-color:#5956FF;

	
}
.editar-card{
background-color:#efefef;
padding:5%;
margin-top:10%;
margin-bottom:10%;
	
}
.efeito-card{
transition:transform 1s;	

	
}
.efeito-img{
transition:transform 1s;	
	
}

.efeito-img:hover{
transform:scale(1.2) rotateY(360deg);
cursor:pointer;
}
#rodape{
background-image: linear-gradient(to right,#6A5ACD,	#6959CD,#00FFFF);
}
#incriveis{
width:100px;
heigth:100px;
}
input:focus, textarea:focus{
	
	border-color: "blue" !important;
	
}

input:valid, textarea:valid{
	border-color:#17E61F;
}

input:invalid, textarea:invalid{
	border-color:"red";
}

#titulo{
	margin-top:100px;
	margin-bottom:100px;
}
.subtitulo{
	
	margin-bottom:50px;
}
#sublinhado{
text-decoration:underline #FF9A03;
;	
	
}

#senai{
	width:500px;
	heigth:500px;

}