#cards{
margin-top:25px;
margin-bottom:2%;
 
}



body{
background-color:#F7F1F1;

	
}
.editar-card{
background-color:#efefef;
padding:5%;
margin-top:10%;
margin-bottom:10%;
height:400px;
	
}
.efeito-card{
transition:transform 1s;	

	
}

.efeito-img{                                                            
transition:transform 1s;	
	
}

.efeito-img:hover{
transform:scale(1.1) /*rotateY(360deg)*/;;
cursor:pointer;
}
.col-efeito{                                                            
transition:transform 1s;	

}
.col-efeito:hover{                                                            
	transform:scale(1.1);	
	
}

#rodape{
background-image: linear-gradient(to right,#6A5ACD,	#6959CD,#00FFFF);
}
#incriveis{
width:100px;
heigth:100px;
}
input:focus, textarea:focus{
	
	border-color: "blue" !important;
	
}

input:valid, textarea:valid{
	border-color:#17E61F;
}

input:invalid, textarea:invalid{
	border-color:#C7130F !important;
}

#titulo{
	margin-top:100px;
	margin-bottom:100px;
}
.subtitulo{
	
	margin-bottom:50px;
}
.sublinhado{
text-decoration:underline #FF9A03;

	
}

#senai{
	width:500px;
	heigth:500px;

}

.parag{
margin-left:92%;	
margin-bottom:-10px;
color:#FCD812;
}
.senai-card{
padding:30px;
margin-top:96px;
margin-bottom:96px;
margin-left:80px;
margin-right:80px;
width:300px;
max-height:500px;
	
}
.img-card{
	width:250px;
	height:250px;
}
#botao{
	background-color:#FCC530;
	color:#767676;
	
	border-radius:15px;
	text-align:center;
	margin-left:66%;
	width:250px;
	box-shadow:4px 4px #767676;
	transition:transform 1s;

}
#botao:hover{
	transform:scale(1.2);
	
}
.menuContainer{
background-color:#bbb;
width:300px;
padding	: 15px 0px;

}

.menuContainer li a{
	padding:12px;
	text-decoration:none;
	color:#000;
	display: block;
}
.menuContainer h2{
	padding-left:10px;
}

#pesquisa{
	width:100%;
	font-size:18px;
	padding:11px;
	border:1px solid #ddd;
	
}
#menu{
	
	list-style-type:none;
	padding:0px;
	margin:0px;
	
}

#menu li a:hover{
	background-color:#eee;
}

#btn-senai2{
border: 2px solid #FFBE40;
font-size: .8rem;
color:#9B979F;
padding: 1rem	2rem;
margin:0.5rem 0;
border-radius: 5px;
	
}

#btn-senai2:hover{
	box-shadow: 5px 5px 5px 5px #CED5F5;
	transition:transform 0.75s;
}
#btn-senai{
	background-color:#FFBE40;
	border:2px solid #FFBE40;
	padding: 1rem	2rem;
	border-radius: 5px;
	font-size: .8rem;
	margin:0.5rem 0;

	
}
#btn-senai:hover{
	box-shadow: 5px 5px 5px 5px #CED5F5;
	transition:transform 0.75s;

}

.cd-senai{
	margin-top:100px;
	margin-bottom:100px;

	
}

/*
css para estilizar o card-slider
}*/
a{
text-decoration:none;
color:#5C606E;
	
}
.slider{
	max-width:1150px;

	display:flex;
	
}
.slider .card-1{

	flex:1;
	margin: 0 10px;
	background-color:#FFF;

	
}
.slider .card-1 .img-1 {
	max-height:200px;
	width:100%;

	
}
.slider .card-1 .img-1 img {
	height:100%;
	width:100%;
   object-fit:cover;
	
}
.slider .card-1 .content{
	padding:10px 20px;
	height:300px;
	
}
 .card-1 .content .title{
font-size:25px;
font-weight:600;
text-align:center;
}
 .card-1 .content .sub-title{
font-size:25px;
font-weight:600;
color:#e74c3c;
line-height:20px;
text-align:center;
}
 .card-1 .content p{
	 text-align:center;
	 margin: 10px 0;
	 
	 
 }
  .card-1 .content .btn{
	  display:block;
	  text-align:left;
	  margin:10px 0;
	  border:none;

  }
 .card-1 .content .btn button{
	 background-color:#e74c3c;
	 color:#fff;
	 border:none;
	 outline:none;
	 font-size:17px;
	 padding: 5px 8px;
	 border-radius:5px;
	 cursor:point;
	 transition:0.2s;
	 
 }
  .card-1 .content .btn button:hover{
	  transform:scale(0.9);
	  
  }
/* fim da estilizacao do card-slide */

.bot-a {  
    display: inline-block;  
    padding: 0.8em 1.2em;    
    background-color:#0987D2;  
    text-decoration: none;  
    color: #ffffff;
    border-radius:50px;
    font-family:'open_sansregular';  
} 
     
.flutuante {  
  display: inline-block;  
  -webkit-transition-duration: 0.4s;  
  transition-duration: 0.4s;  

  transition-property: transform;  
  -webkit-transform: translateZ(0);  
  -ms-transform: translateZ(0);  
  transform: translateZ(0);  
  box-shadow: 0px 4px 2px 0px rgba(98, 98, 98, 0.69);
}  
      
.flutuante:hover {  
  -webkit-transform: translateY(-5px);  
  -ms-transform: translateY(-5px);  
  transform: translateY(-5px);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.69);  
} 